@import url("./bubble.css");

button#mic-button.muted {
  background: var(--error-color);
}

button#call-button.connected {
  background: var(--error-color);
}

p#feedback {
  background: var(--surface-1);
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 1rem;
  visibility: hidden;
}

p#feedback.show {
  visibility: visible;
}

video.camera {
  border-radius: 1rem;
  background: var(--surface-1);
  width: 40rem;
  height: 30rem;
}

select.video-selection,
select.audio-selection {
  background: transparent;
  color: var(--on-surface-1);
}
